<div class="ui modal">
  <div class="header">
    {{title}}
  </div>
  <div class="content">
    <div class="description">
      {{descr}}
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      Okay
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
