<div class="ui grid">
  <div class="ui form six column">
    <div class="field">
      Sei sicuro di voler offrire in scambio il tuo turno di linea?
    </div>
    <button class="ui button orange save" {{action "doExchange"}}>Scambia!</button>
    <button class="ui button cancel" {{action "cancel"}} >Annulla</button>
  </div>
</div>
