body > .ember-view {
  height: 100%;
}

.content {
  padding-top: 50px;
}

#main-sidebar {
  padding-top: 50px;
}

.renew-services .price {
  text-align: right !important;
}

.renew-services .total {
  font-size: 130%;
  font-weight: bold !important;
}

table.pending-payments > tbody > tr {
  cursor: pointer;
}
