@use "bulma/css/bulma.css";
@use "bulma/sass/utilities/mixins";

@use "components.scss";
@use "pages.scss";

@use "ember-power-select";

html {
  overflow-y: auto;

  body {
    header {
      background-color: #aaf;
      padding: 0.5em;
      text-align: center;

      .hamburger {
        position: absolute;
        left: 4px;
        top: 4px;

//        @include tablet {
//          display: none;
//        }
      }
    }

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: 2em;
      background-color: #777;
      color: white;
    }

    .main-container {
      height: 100%;
      overflow-y: auto;
    }
  }
}





.navbar-menu {
  a.active {
//    @extend .is-active;
  }
}






::-ms-reveal {
  display: none
}


span.price {
  font-family: monospace;
}

table {
  td.number,td.price {
    text-align: right !important;
    font-family: monospace;

    &.disabled {
      text-decoration: line-through;
    }
  }
  td.total {
    font-family: monospace;
    font-weight: bold !important;
    text-align: right !important;
  }
  td.time {
    font-family: monospace;
  }
}

.roster-entry {
  .header {
    text-align: center;
    text-transform: uppercase;
  }
}

.flight-map {
  width: 100%;
  height: 100%;
}
