@import "bulma";


@import "components.scss";
@import "pages.scss";

html {
  overflow-y: auto;

  body {
    header {
      margin-bottom: 2em;
      background-color: #aaf;
      padding: 0.5em;
      text-align: center;
    }

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: 2em;
      background-color: #777;
      color: white;
    }
  }
}



.sidebar-context {
  position: absolute;
  top: 48px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: auto;
}

.sidebar-pusher {
//  height: 100% !important;
}

span.price {
  font-family: monospace;
}

table {
  td.number,td.price {
    text-align: right !important;
    font-family: monospace;
  }
  td.total {
    font-weight: bold !important;
    background-color: #f9fafb;
  }
}

table.payments, table.invoices {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.roster-day,.roster-entry {
  &.edit {
    cursor: grabbing;

    &.disabled {
      cursor: not-allowed;
    }

    .ui.reveal {
      .visible.content {
        background-color: white;
      }

      .hidden.content {
        background-color: red;
      }

    }
  }

  .date-block {
    min-height: 4em;
    text-transform: uppercase;
    text-align: center;

    .date {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
    }

    &.low-season {
      background-color: #abf0ff;
    }

    &.high-season {
      background-color: #ffd367;
    }
  }
}

.roster-entry {
  .header {
    text-align: center;
    text-transform: uppercase;
  }
}

.flight-map {
  width: 100%;
  height: 100%;
}
