//$menu-width: 200px;
//$menu-item-color: white;
//$menu-item-active-background-color: #7fffff;
//$menu-item-hover-background-color: #4fffff;
//$menu-item-hover-color: #9fffff;
//$menu-item-radius: 0;

@import "bulma";

@import "components.scss";
@import "pages.scss";

html {
  overflow-y: auto;

  body {
    header {
      background-color: #aaf;
      padding: 0.5em;
      text-align: center;

      .hamburger {
        position: absolute;
        left: 4px;
        top: 4px;

//        @include tablet {
//          display: none;
//        }
      }
    }

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: 2em;
      background-color: #777;
      color: white;
    }

    .main-container {
      height: 100%;
      overflow-y: auto;
    }
  }
}





.navbar-menu {
  a.active {
    @extend .is-active;
  }
}






::-ms-reveal {
  display: none
}


span.price {
  font-family: monospace;
}

table {
  td.number,td.price {
    text-align: right !important;
    font-family: monospace;

    &.disabled {
      text-decoration: line-through;
    }
  }
  td.total {
    font-weight: bold !important;
    background-color: #f9fafb;
  }
}

.roster-entry {
  .header {
    text-align: center;
    text-transform: uppercase;
  }
}

.flight-map {
  width: 100%;
  height: 100%;
}

@import "ember-power-select";
