@use "bulma/css/bulma.css";
@use "bulma/sass/utilities/mixins";

@use "components.scss";
@use "pages.scss";

@use "ember-power-select";

html {
  overflow-y: auto;

  body {
    header {
      background-color: #ffc300;
      padding: 0.5em;
      text-align: center;

      .hamburger {
        position: absolute;
        left: 4px;
        top: 4px;

//        @include tablet {
//          display: none;
//        }
      }
    }

    .main-container {
      height: 100%;
      overflow-y: auto;
    }
  }
}

::-ms-reveal {
  display: none
}


span.price {
  font-family: monospace;
}

table {
  td.number,td.price {
    text-align: right !important;
    font-family: monospace;

    &.disabled {
      text-decoration: line-through;
    }

    &.negative {
      color: red;
    }

    &.total {
      font-family: monospace;
      font-weight: bold !important;
      text-align: right !important;
    }
  }

  // Deprecated
  td.total {
    font-family: monospace;
    font-weight: bold !important;
    text-align: right !important;
  }

  //td.time {
  //  font-family: monospace;
  //}
}

.roster-entry {
  .header {
    text-align: center;
    text-transform: uppercase;
  }
}

.flight-map {
  width: 100%;
  height: 100%;
}

.button.is-multiline {
  min-height: 2.25em;
  white-space: unset;
  height: auto;
  flex-direction: column;
}

.button.is-multiline .icon {
  margin: 0! important;
}

.waiting-spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

