body > .ember-view {
  height: 100%;
}

/* Whis is this necessary?? */
a {
  cursor: pointer;
}

.content {
  padding-top: 50px;
}

#main-sidebar {
  padding-top: 50px;
}

.renew-services .price {
  text-align: right !important;
  font-family: monospace;
}

.renew-services .total {
  font-weight: bold !important;
}

.shop-checkout .price {
  text-align: right !important;
  font-family: monospace;
}

.shop-checkout .total {
  font-weight: bold !important;
}

table.pending-payments > tbody > tr {
  cursor: pointer;
}
