stages:
  - prepare
  - test
  - build
  - deploy

cache:
  paths:
    - .pnpm-store

install_dependencies:
  stage: prepare
  image: buildimg-node24:latest
  tags:
    - ember-builder
  script:
    - corepack enable
    - corepack prepare pnpm@latest-10 --activate
    - pnpm config set store-dir .pnpm-store
    - pnpm install --frozen-lockfile

test:
  stage: test
  script:
    - pnpm test

build:
  stage: build
  script:
    - pnpm build
