default:
  image: buildimg-node24:latest
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store
  tags:
    - ember-builder
  before_script:
    - echo "@vihai:registry=https://${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/" > .npmrc
    - echo "//${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" >> .npmrc
    - echo "//${CI_SERVER_HOST}/api/v4/projects/:_authToken=${CI_JOB_TOKEN}" >> .npmrc
    - echo "//${CI_SERVER_HOST}/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}" >> .npmrc
    - corepack enable
    - corepack prepare pnpm@latest-10 --activate
    - pnpm config set store-dir .pnpm-store
    - pnpm install --frozen-lockfile

stages:
  - test
  - build
  - deploy

#test:
#  stage: test
#  script:
#    - pnpm test

build:
  stage: build
  script:
    - pnpm build
