stages:
  - prepare
  - test
  - build
  - deploy

install_dependencies:
  stage: prepare
  image: buildimg-node24:latest
  tags:
    - ember-builder
  cache:
    paths:
      - node_modules
  script:
    - pnpm config set spin false
    - pnpm install --frozen-lockfile
