<LinkTo class="component bar-gauge box" @route="authen.bar.transactions" @activeClass="is-active">
  <p class="heading">
    Conto bar
  </p>
  <p class="title">
    {{format-number @credit style="currency" currency="EUR"}}
  </p>
  {{!-- <FaIcon @icon="gas-pump" {{on "click" this.recharge}} /> --}}
</LinkTo>
