{{#if @ex}}
  <ExceptionDecoder @ex={{@ex}} as |title detail backtrace|>
    <div class="box notification is-danger">
      <h1 class="title">{{title}}</h1>
      <div>
        {{detail}}
      </div>
    </div>
  </ExceptionDecoder>
{{/if}}
