<LinkTo class="component bar-gauge" @route="authen.token.transactions" @activeClass="is-active">
  <p class="heading">
    Bollini
  </p>
  <p class="title">
    {{format-number @credit minimumFractionDigits=0 maximumFractionDigits=1}}
  </p>
</LinkTo>
