<div class="box">
  Presenta alla segreteria un assegno non trasferibile con i seguenti dati:

  <div class="box">
    Intestato a: <strong>Aero Club Adele Orsi ASD</strong><br />
    Importo: <strong>{{format-number @payment.amount style="currency" currency="EUR"}}</strong>
  </div>
</div>
