<div>
  Presenta alla segreteria un assegno non trasferibile con i seguenti dati:

  <div class="box">
    Intestato a: <strong>Aero Club Adele Orsi ASD</strong><br />
    Importo: <strong>{{format-number @debt.payment_needed style="currency" currency="EUR"}}</strong>
  </div>
</div>
