<div class="box">
  Presenta alla segreteria un assegno non trasferibile con i seguenti dati:

  <div class="box">
    Intestato a: <h4 class="header">Aero Club Adele Orsi ASD</h4>
    Importo: <strong>{{format-number this.model.payment.amount style="currency" currency="EUR"}}</strong>
  </div>
</div>
