<div>
  Se non lo hai già fatto procedi al versamento alle seguenti coordinate:

  <div class="notification is-primary is-light">
    <strong>Aero Club Adele Orsi Associazione Sportiva Dilettantistica</strong><br />
    Banca Popolare di Sondrio - Agenzia di Gavirate<br />
    IBAN: <strong><span style="font-family: monospace">IT70R0569650250000020249X74</span></strong><br />
    Importo: <strong>{{format-number @debt.payment_needed style="currency" currency="EUR"}}</strong>
    Causale: <strong>Pagamento codice {{@debt.identifier}}{{#if @debt.descr}} per {{@debt.descr}}{{/if}}</strong><br />
  </div>

  <div class="notification is-warning">
    <ul>
      <li>Assicurati di indicare nella causale il <strong>codice pilota</strong> e il <strong>codice di pagamento</strong></li>
      <li>Non è necessario inviare la ricevuta di versamento in segreteria.</li>
      <li>Verrai avvisato via e-mail quando il versamento risulterà confermato.</li>
      <li>Se entro <strong>una settimana</strong> non ricevi la conferma ti invitiamo a contattare la segreteria!</li>
    </ul>
  </div>
</div>
