<div class="ui segment">
  Presenta alla segreteria un assegno non trasferibile con i seguenti dati:

  <div class="ui raised segment">
    Intestato a: <h4 class="ui header">Aero Club Adele Orsi ASD</h4>
    Importo: <strong>{{format-number model.payment.total format="0.00"}} €</strong>
  </div>
</div>
