{{title "Movimenti Bollini"}}
<div class="ui container">
{{models-table
  data=model
  columns=columns
  themeInstance=themeInstance
  showColumnsDropdown=false
  columnComponents=(hash columnDate=(component "column-date"))
}}
</div>
