{{page-title "Conferma"}}
<div class="container">
  <h1 class="title">Iscrizione confermata!</h1>

  <div class="buttons is-centered">
    <button class="button is-primary is-large" {{on "click" (transition-to this.wizard.payment_id)}}>
      Vai al pagamento
    </button>
  </div>
</div>
