{{page-title "Conferma"}}
<div class="container box">
  <h1 class="title">Iscrizione confermata!</h1>

  <div class="buttons is-centered">
    <button class="button is-grey is-large" type="button" {{on "click" this.back}}>
      <span class="icon"><FaIcon @icon="backward" /></span>
      <span>Indietro</span>
    </button>
    <button class="button is-primary is-large" type="button" {{on "click" this.go_to_debt}}>
      Vai al pagamento
    </button>
  </div>
</div>
