{{page-title (t "authen.flight.new.page_title")}}

<div class="container box">
  <div class="field">
    <label class="label">Data</label>
    <div class="control">
      <input class="input" type="date" placeholder="">
    </div>
  </div>

  <div class="field">
    <label class="label">Ora Decollo</label>
    <div class="control">
      <input class="input" type="time" placeholder="">
    </div>
  </div>

  <div class="field">
    <label class="label">Luogo Decollo</label>
    <div class="control">
      <input class="input" type="text" placeholder="">
    </div>
  </div>

  <div class="field">
    <label class="label">Ora Atterraggio</label>
    <div class="control">
      <input class="input" type="time" placeholder="">
    </div>
  </div>

  <div class="field">
    <label class="label">Luogo Atterraggio</label>
    <div class="control">
      <input class="input" type="text" placeholder="">
    </div>
  </div>

  <div class="field">
    <label class="label">Marche Aeromobile</label>
    <div class="control">
      <input class="input" type="text" placeholder="D-1234">
    </div>
  </div>

  <div class="field">
    <label class="label">Pilota</label>
    <div class="control">
      <input class="input" type="text" placeholder="">
    </div>
  </div>

  {{!-- p1 role --}}

  <div class="field">
    <label class="label">Passeggero</label>
    <div class="control">
      <input class="input" type="text" placeholder="">
    </div>
  </div>

  {{!-- p2 role --}}


</div>
