{{page-title (concat "Club " model.name)}}
<div class="ui container">
  <div class="ui segment">
    <h1>Club {{model.name}}</h1>
<!--
    Aeroporto/aviosuperficie: {{link-to model.airfield.name "authen.airfield" model.airfield.id}}<br />
-->
  </div>
</div>
