{{page-title (concat "Club " this.model.name)}}
<div class="container box page authen-club">
  <h1 class="title">Club {{this.model.name}}</h1>
<!--
    Aeroporto/aviosuperficie: {{link-to this.model.airfield.name "authen.airfield" this.model.airfield.id}}<br />
-->
</div>
