<div class="ui active blurring dimmer">
  <div class="content">
    <div class="center">
      <div class="ui red message">Acciderbolina! Si è verificato un errore nell'accesso ai dati, riprova più tardi o segnalaci il problema!</div>
      <div>
        Reason: {{reason}}
      </div>
    </div>
  </div>
</div>
