{{page-title (t "application.page_title")}}
{{outlet}}
<Toast />

{{#if this.offline}}
  <div class="offline-modal modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <ConnectionWidget>
          {{t "application_offline.offline"}}
        </ConnectionWidget>
      </div>
    </div>
  </div>
{{/if}}
