{{title "Erroraccio"}}
<div class="ui active blurring dimmer">
  <div class="content">
    <div class="center">
      <div class="ui red message">Perdincibacco! Si è verificato un errore nell'accesso ai dati, ricarica la pagina con F5, oppure riprova più tardi o segnalaci il problema!</div>
      <div>
        Causa: {{title}}<br />
        {{#if detail}}Dettaglio: {{detail}}{{/if}}
      </div>
    </div>
  </div>
</div>
