{{page-title (t "application.page_title")}}

<header>
  <h1 class="title">ACAO Servizi</h1>
</header>

{{outlet}}

<footer>
  Orgogliosamente non fatto con quella merda di PHP. Copyright © Assorreta {{moment-format (now) 'YYYY'}}.
</footer>

<Toaster />

{{#if this.offline}}
  <div class="offline-modal modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <ConnectionWidget>
          {{t "application_offline.offline"}}
        </ConnectionWidget>
      </div>
    </div>
  </div>
{{/if}}
