<div class="ui left vertical sidebar inverted menu visible">
  {{#link-to 'radar' class="item"}} Radar {{/link-to}}
  {{#link-to 'meteo' class="item"}} Meteo {{/link-to}}
</div>
<div class="pusher" style="height: 100%;">
{{outlet}}
</div>
