<div class="ui container">
  <h1 class="ui header">Ciao {{session.person.first_name}},</h1>

  <div>
    Socio nel: <div class="ui celled horizontal list">
      {{#each session.memberships key="id" as |membership|}}
        <div class="item">{{membership.year}}</div>
      {{/each}}
    </div>
  </div>

  <div class="ui right floated segment">
    {{#if session.enableRenew}}
      {{#link-to 'renew-membership' class="massive ui primary button" tagName="button"}}Rinnova l'iscrizione {{renewMembershipYear}}{{/link-to}}
    {{/if}}
  </div>

  <div class="ui statistic">
    <div class="value">
      <i class="plane icon"></i> 15
    </div>
    <div class="label">
      Voli
    </div>
  </div>
</div>
