<div class="ui container">
  <h1 class="ui header">Ciao {{session.person.first_name}},</h1>

  <div>
    Socio nel: <div class="ui celled horizontal list">
      {{#each model.memberships key="id" as |membership|}}
        <div class="item">{{membership.year}}</div>
      {{/each}}
    </div>
  </div>

  <div class="ui right floated segment">
    {{#if model.pendingPayments}}
      {{#link-to 'pending-payments' class="massive ui orange button" tagName="button"}}Ci sono dei pagamenti pendenti{{/link-to}}
    {{/if}}

    {{#if membershipRenewalIsAvailable}}
      {{#link-to 'renew-membership' class="massive ui primary button" tagName="button"}}Rinnova l'iscrizione {{model.renewalContext.year}}{{/link-to}}
    {{/if}}
  </div>

<!--  <div class="ui statistic">
    <div class="value">
      <i class="plane icon"></i> 15
    </div>
    <div class="label">
      Voli
    </div>
  </div>
-->
</div>
