{{page-title (t "initial_connection.page_title")}}
<div class="container">
  <div class="initial-connection">
    <div class="box">
      {{t "initial_connection.connecting"}}
      <span class="loader" />
    </div>
  </div>
</div>
