{{page-title (t "initial_connection.page_title")}}
<div class="initial-connection">
  <div class="box">
    <ConnectionWidget>
      {{t "initial_connection.connecting_to_router"}}
    </ConnectionWidget>
  </div>
</div>
