{{page-title "Connecting..."}}
<div class="loader-wrapper is-active">
  <div>
    <h1 class="title">Connecting to backend...</h1>
    <div class="loader is-loading"></div>
    {{this.state}}
  </div>
</div>
