{{title "Radar"}}
<style>
.leaflet-container {
  height: 100%;
  width: 100%;
}
</style>

<div style="height: 100%">
{{#leaflet-map lat=lat lng=lng zoom=zoom}}
  {{tile-layer url="https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.png" maxZoom=13}}

  {{#each aircrafts key="id" as |aircraft|}}
    {{#marker-layer location=aircraft.latlng icon=icon rotationAngle=aircraft.cog}}
    {{/marker-layer}}
  {{/each}}

{{/leaflet-map}}
</div>
