<div class="ui container">

{{outlet}}

<!--
<div class="ui three steps">
  <div class="active step">
    <i class="browser icon"></i>
    <div class="content">
      <div class="title">Selezione</div>
      <div class="description">Selezione quota e servizi</div>
    </div>
  </div>
  <div class="step">
    <i class="payment icon"></i>
    <div class="content">
      <div class="title">Pagamento</div>
      <div class="description">Effettuazione pagamento</div>
    </div>
  </div>
  <div class="step">
    <i class="calendar icon"></i>
    <div class="content">
      <div class="title">Turni di linea</div>
    </div>
  </div>
</div>
-->
</div>

<div class="ui segment">
<div class="ui blue ribbon label">State</div>
<pre>
{{#each-in model.state as |key val|}}
  {{key}}: {{val}}
{{/each-in}}
</pre>
</div>

